@tailwind base;
@tailwind components;
@tailwind utilities;

/* MY GLOBAL STYLES */
//------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  font-family: 'Roboto', Helvetica Neue, sans-serif !important;
  background-color: #e5e5e5 !important;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #1b2a47;
}

p {
  margin: 0 0 16px;
  letter-spacing: 0.5px;
}

/* Link */

a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 16px;
}

h1 {
  font-size: 32px;
  line-height: 1.25;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

/* Mobile styles */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 12px;
  }
}

/* MY CUSTOM STYLES */
